// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.announcement {
    background-color: rgb(60, 60, 60);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.dog-of-the-month {
    background-color: rgb(60, 60, 60);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 500px;
}

.dog-of-the-month-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    display: block;
    margin: 20px auto 20px;
}

#home-subtitle {
    padding-bottom: 20px;
}

#home-title {
    padding-top: 20px;
    font-size: 36pt;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

#home-title-text {
    background-color: rgba(0, 0, 0, 0.3); /* Darker background for better contrast */
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    display: inline-block;

    /* Apply backdrop blur */
    backdrop-filter: blur(5px); /* Adjust the blur level as needed */
    -webkit-backdrop-filter: blur(5px); /* For Safari support */
    
    /* Create a soft transition effect */
    position: relative; /* Allow for pseudo-element positioning */
}

#home-welcome {
    background-image: url('../images/home-page-background-demo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    position: relative; /* Set position to relative for child positioning */
}